<%- include('../_layouts/adminheader') %>

<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">Pages</li>
    </ol>
    <a href="/admin/pages/add-page" class="btn btn-primary">Add a page</a>
<br><br>
    <%- include('../_layouts/contenttable') %>
      </div>
    </div>
    <!-- Example DataTables Card-->
    
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>
</div>

<%- include('../_layouts/adminfooter') %>