</div><!-- /.container -->
<br><br><br><hr>
<p class="text-center">&COPY; Koderunners <%= current_year %></p>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </body>
</html>