<%- include('../_layouts/userheader') %>

<div class="content-wrapper">
	<div class="container-fluid">
		<%- include('../_layouts/contentcard') %>
	</div>
</div>


<%- include('../_layouts/userfooter') %>